	/*Background HomePage */	
	html,
	body,
	header,
	#homeimage{
		height: 100%;
	}	

	#homeimage{
		background: url(stadium.png) no-repeat center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	

