@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body {
   margin:0;
   padding:0;
   height:100%;
}

body {
    background: url(../img/cricket.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 55px;
}

.row{
    width:100%;
}

#logo_navbar_text_type {
    font: normal 36px 'Cookie', cursive;
}

#logo_text_color {
    color:  #732b2b;
}

#api {
    padding-left: 0px;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:80px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
}

#contributor {
    font-size: 15px;
}

/*Back to top button configuration */
#backtotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #6495ED;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backtotop:hover {
  background-color: #555;
}
/*End of back to top button configuration */

@media only screen and (max-width: 960px) {
    #footer{
        width:624px;
    }
    body{
        background: url(../img/whitebg.png);
    }
}

@media (min-width: 500px) and (max-width: 1024px) and (orientation: landscape) {
    #footer{
        width:704px;
    }
    body{
        background: url(../img/cricket.png) no-repeat center center fixed;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #footer{
    width:800px; 
    }
}